<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<h2>Your cart</h2>
<table border="1" align="center">
    <tr>
        <td>Title</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Sum</td>
    </tr>
    <tr th:each="product : ${cart.products}">
        <td th:text="${product.title}">title</td>
        <td th:text="${product.price}">0</td>
        <td th:text="${product.quantity}">0</td>
        <td th:text="${product.sum}">0</td>
        <td sec:authorize="isAuthenticated()">
            <form th:method="delete" th:action="@{/order/{productId}(productId=${product.productId})}">
                <input type="submit" value="Remove"/>
            </form>
        </td>
    </tr>
</table>
<h4>Total sum: <b th:text="${cart.totalSum}">0</b></h4>
</body>
</html>