<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table align="center">
    <tr>
        <td>Title</td>
        <td>Price</td>
        <td></td>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.title}">product</td>
        <td th:text="${product.price}">0</td>
        <td sec:authorize="isAuthenticated()"><a th:href="@{/products/{productId}(productId=${product.id})}">Add to cart</a></td>
        <td sec:authorize="hasAnyAuthority('ADMIN')">
            <form th:method="delete" th:action="@{/products/{productId}(productId=${product.id})}">
                <input type="submit" value="Remove">
            </form>
        </td>
    </tr>
</table>
<br>
<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/products}" method="post" th:object="${productSpec}">
    <h4>New product</h4>
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"></td>
            <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
            <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price error</div>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>