<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<h2>User profile</h2>
<form th:action="@{/users/profile}" method="post" th:object="${user}">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{username}"></td>
            <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" th:field="*{email}"></td>
            <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}"></td>
            <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
        </tr>
        <tr>
            <td>Confirm password</td>
            <td><input type="password" th:field="*{confirmPassword}"></td>
            <div style="color: red" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm password error</div>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>